  
  body {
    font-family: 'Alata', sans-serif;
    width: 350px;
    background: rgb(68,0,255);
    background: linear-gradient(90deg, rgba(68,0,255,1) 0%, rgba(32,46,111,1) 100%);
    text-align: center;
  }
  h5 {
      text-align: center;
      color: white;
  }
  div {
    padding-bottom: 20px;
    text-align: center;
  }
  p {
    background: rgb(255,188,0);
    background: radial-gradient(circle, rgba(255,188,0,1) 0%, rgba(255,244,0,1) 100%);
    padding: 10px;
    visibility: hidden;
    text-align: center;
  }